<div style="direction: ltr; background-color: rgb(245, 245, 245); padding: 10px; color: black;">
    <!-- body -->
    <div style="text-align: justify; font-size: 11pt; padding: 0 20px;">
        <h1 style="font-weight: bolder; text-align: center;">STARK</h1>
        <p style="color: rgb(68, 68, 68); text-align: left;">{{ date }}</p>
        <p style="font-weight: bolder;">
            Greetings and Courtesy of the dear <span style="color: #6e90ff;">{{ username }}</span>:
        </p>
        <p>
            Your account was created successfully. You need to click on the link below to activate your account.
        </p>
        <br>
        <a href="https://{{ domain }}{% url 'account:activate' uidb64=uid token=token %}" style="color: #6e90ff; text-decoration: none; font-weight: bolder;">
            User Panel Activate Link
        </a>
        <br><br>
        <p style="text-align: center;">
            <a href="st4w.net/fa" style="font-weight: bolder; color: #6e90ff; text-decoration: none; margin: 0 10px; ">Stark WebSite</a>
            <a href="panel.st4w.net/fa" style="font-weight: bolder; color: #6e90ff; text-decoration: none; margin: 0 10px;">Stark UserPanel</a>
        </p>
    </div>

</div>