{% extends 'shared/__main_layout.html' %}
{% load static i18n l10n %}

{% block keywordContent %}
    <meta name="keywords" content="{% translate 'استارک، پنل کاربری استارک، ارز دیجیتال، خرید و فروش ارز دیجیتال' %}">
    <meta name="description" content="{% translate 'پنل کاربری استارک' %}">
{% endblock %}

{% block titlePage %}{% translate ' استارک | خرید فروش' %} {% endblock %}

{% block linkStatic %}
    <link rel="stylesheet" href="{% static 'css/buy-sell.css' %}">
{% endblock %}

{% block content %}

<!-- start BODY -->
<article class="body-page m-1">
    <h4 class="mb-1">{% translate 'خرید و فروش ارز دیجیتال' %}</h4>

    <div class="buy-sell-card">

        <div class="right-card" id="request-realtime">

            <div>
                <h5 class="c-light mb-1">{% translate 'موجودی توکن‌های شما:' %}</h5>

                <div class="boxes-tokens">
                    <div class="box-token">
                        <p class="c-gold font-bold">ST<span class="c-white">1</span></p>
                        <p class="c-light">{{ request.user.get_st1_userStoke }}</p>
                    </div>

                    <div class="box-token">
                        <p class="c-gold font-bold">ST<span class="c-white">2</span></p>
                        <p class="c-light">{{ request.user.get_st2_userStoke }}</p>
                    </div>
                    <div class="box-token">
                        <p class="c-gold font-bold">ST<span class="c-white">3</span></p>
                        <p class="c-light">{{ request.user.get_st3_userStoke }}</p>
                    </div>

                    <div class="box-token">
                        <p class="c-gold font-bold">ST<span class="c-white">4</span></p>
                        <p class="c-light">{{ request.user.get_st4_userStoke }}</p>
                    </div>

                </div>
            </div>

            <form method="POST" action="{% url 'pannel:buySellTicketsend' %}">
                {% csrf_token %}
                <div class="form-group form-group-inline">
                    <div>
                        <label for="type-token">{% translate 'عنوان ارز' %}:</label>
                        <select name="type-token" id="type-token" >
                            <option value="st1">ST1</option> <!-- مسکن -->
                            <option value="st2">ST2</option> <!--  -->
                            <option value="st3">ST3</option> <!--  -->
                            <option value="st4">ST4</option>  <!-- ارزدیجیتال -->
                        </select>
                    </div>
                    <div>
                        <label for="type-order">{% translate 'نوع درخواست' %}:</label>
                        <select name="type-order" id="type-order">
                            <option value="buytoken">{% translate 'خرید' %}</option>
                            <option value="selltoken">{% translate 'فروش' %}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="opacity-order">{% translate 'حجم درخواستی (بر حسب تتر)' %}:</label>
                    <input onkeyup="get_total_price()" name="opacity-order" type="number" step="0.01" id="opacity-order" class="text-center">
                </div>

                <div class="form-group">
                    <label for="total">{% translate 'مبلغ سفارش (برحسب توکن)' %}:</label>
                    <input type="text" id="total" disabled class="text-center">
                </div>
                <p class="font-small c-muted pt-1">{% translate 'حجم درخواستی شما بر حسب قیمت آخرین توکن موجود محاسبه میشود.' %}</p>
                <button class="btn" type="submit">{% translate 'ارسال درخواست' %}</button>
            
            </form>
        </div>

        <div class="left-card">
            <div class="tow-box-top-cnv">

                <div class="two-box-img-title">
                    {% if 'st1' in request.path %}
                        <img src="{% static 'img/tokens/st1.svg' %}" alt="st1 token image">
                    {% elif 'st2' in request.path %}
                        <img src="{% static 'img/tokens/st2.png' %}" alt="st2 token image">
                    {% elif 'st3' in request.path %}
                        <img src="{% static 'img/tokens/st3.svg' %}" alt="st3 token image">
                    {% elif 'st4' in request.path %}
                        <img src="{% static 'img/tokens/st4.svg' %}" alt="st4 token image">
                    {% endif %}
                    <div class="h1-and-span-top">
                        <h4>{% translate 'نمودار توکن' %} {{name_chart}}</h4>
                        <span class="font-small c-gold pt-1-2">{% translate 'قیمت امروز (بر حسب تتر)' %}: {{ last_price_chart }}</span>    
                    </div>
                </div>

                <div class="links-box-charts show-buysell-page">
                    <a href="{% url 'pannel:buySellToken' 'st1' %}" class="link-to-fade-chart {% if '/en/' in request.path %}float-right{% else %}float-left{% endif %} font-small c-gold ml-1 {% if 'st1' in request.path %}c-white{% endif %}">ST1 <img src="{% static 'img/tokens/st1.svg' %}" alt="chart image"></a>
                    <a href="{% url 'pannel:buySellToken' 'st2' %}" class="link-to-fade-chart {% if '/en/' in request.path %}float-right{% else %}float-left{% endif %} font-small c-gold ml-1 {% if 'st2' in request.path %}c-white{% endif %}">ST2 <img src="{% static 'img/tokens/st2.png' %}" alt="chart image"></a>
                    <a href="{% url 'pannel:buySellToken' 'st3' %}" class="link-to-fade-chart {% if '/en/' in request.path %}float-right{% else %}float-left{% endif %} font-small c-gold ml-1 {% if 'st3' in request.path %}c-white{% endif %}">ST3 <img src="{% static 'img/tokens/st3.svg' %}" alt="chart image"></a>
                    <a href="{% url 'pannel:buySellToken' 'st4' %}" class="link-to-fade-chart {% if '/en/' in request.path %}float-right{% else %}float-left{% endif %} font-small c-gold ml-1 {% if 'st4' in request.path %}c-white{% endif %}">ST4 <img src="{% static 'img/tokens/st4.svg' %}" alt="chart image"></a>
                </div>
                <div class="links-box-charts show-chart-page">
                    <p class="mb-1 c-light">{% translate 'نمایش نمودار‌ها:' %}</p>
                    <a href="{% url 'pannel:show_charts' 'st1' %}" class="link-to-fade-chart {% if '/en/' in request.path %}float-right{% else %}float-left{% endif %} font-small c-gold ml-1">ST1 <img src="{% static 'img/tokens/st1.svg' %}" alt="chart image"></a>
                    <a href="{% url 'pannel:show_charts' 'st2' %}" class="link-to-fade-chart {% if '/en/' in request.path %}float-right{% else %}float-left{% endif %} font-small c-gold ml-1">ST2 <img src="{% static 'img/tokens/st2.png' %}" alt="chart image"></a>
                    <a href="{% url 'pannel:show_charts' 'st3' %}" class="link-to-fade-chart {% if '/en/' in request.path %}float-right{% else %}float-left{% endif %} font-small c-gold ml-1">ST3 <img src="{% static 'img/tokens/st3.svg' %}" alt="chart image"></a>
                    <a href="{% url 'pannel:show_charts' 'st4' %}" class="link-to-fade-chart {% if '/en/' in request.path %}float-right{% else %}float-left{% endif %} font-small c-gold ml-1">ST4 <img src="{% static 'img/tokens/st4.svg' %}" alt="chart image"></a>
                </div>
            </div>
            <canvas id="stark-chart" class="remove-in-sm"></canvas>
            <div class="text-center">
                {% if 'st1' in request.path %}
                    <a href="{% url 'pannel:show_charts' 'st1' %}" class="link-to--chart">{% translate 'نمایش نمودار' %}</a>
                {% elif 'st2' in request.path %}
                    <a href="{% url 'pannel:show_charts' 'st2' %}" class="link-to--chart">{% translate 'نمایش نمودار' %}</a>
                {% elif 'st3' in request.path %}
                    <a href="{% url 'pannel:show_charts' 'st3' %}" class="link-to--chart">{% translate 'نمایش نمودار' %}</a>
                {% elif 'st4' in request.path %}
                    <a href="{% url 'pannel:show_charts' 'st4' %}" class="link-to--chart">{% translate 'نمایش نمودار' %}</a>
                {% endif %}
            </div>
        </div>

    </div>

</article>
<!-- end BODY -->
    
{% endblock %}

{% block scriptStatic %}
<script type="text/javascript" src="{% static 'frameworks/chart.js' %}"></script>

<!-- get the price -->
<script>
    function get_total_price(){
        let st1_price = {{ last_st1_price }};
        let st2_price = {{ last_st2_price }};
        let st3_price = {{ last_st3_price }};
        let st4_price = {{ last_st4_price }};   

        let type_token = document.getElementById("type-token");
        let tokenName = type_token.options[type_token.selectedIndex].value;
        let opacityOrder = document.getElementById('opacity-order').value;

        if(tokenName == 'st1') {
            document.getElementById('total').value = tokenName.toUpperCase() + ' : ' + (opacityOrder / st1_price).toFixed(2);
        }else if(tokenName == 'st2') {
            document.getElementById('total').value = tokenName.toUpperCase() + ' : ' + (opacityOrder / st2_price).toFixed(2);
        }else if(tokenName == 'st3') {
            document.getElementById('total').value = tokenName.toUpperCase() + ' : ' + (opacityOrder / st3_price).toFixed(2);
        }else if(tokenName == 'st4') {
            document.getElementById('total').value = tokenName.toUpperCase() + ' : ' + (opacityOrder / st4_price).toFixed(2);
        }
    }
</script>

<!-- get the chart -->
<script type="text/javascript">
var ctx = document.getElementById('stark-chart').getContext('2d');
var gradientFill = ctx.createLinearGradient(0,0,0,700);
gradientFill.addColorStop(0, "#131216");
gradientFill.addColorStop(1, "transparent");
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [
            {% for date in dates_chart %}
                '{{ date }}',
            {% endfor %}
        ],
        datasets: [{

            label: '',

            data: [
                {% localize off %}
                    {% for price in prices_dollar_chart %}
                        {{ price }},
                    {% endfor %}
                {% endlocalize %}
            ], 

            fill: true,
            backgroundColor: gradientFill,
            pointBackgroundColor: '#eeb00e',
            pointBorderColor: '#eeb00e',
            pointBorderWidth: '1',
            borderColor: '#eeb00e',
            borderWidth: 1
        }]
    },
    options: {
        legend: {
            display: true,
        },
        title: {
            display: true,
            text: '{% translate "نمودار قیمت توکن" %} {{ name_chart }}',
            position: 'right',
            fontFamily: 'IRANSanse'
        },
        scales: {
            yAxes: [{
                ticks: {
                    min: 0
                }
            }]
        },
    }
});
</script> 
{% endblock %}