{% extends 'shared/__main_layout.html' %}
{% load static widget_tweaks i18n %}

{% block keywordContent %}
    <meta name="keywords" content="{% translate 'پنل کاربری استارک، ارز دیجیتال، ویرایش کاربر' %}">
    <meta name="description" content="{% translate 'پنل کاربری استارک' %}">
{% endblock %}

{% block titlePage %}{% translate 'استارک | ویرایش اطلاعات ' %}{% endblock %}

{% block linkStatic %}
    <link rel="stylesheet" href="{% static 'css/change-data.css' %}">
{% endblock %}

{% block content %}

<!-- start BODY -->
<article class="body-page m-1">
    <h4 class="mb-1">{% translate 'ویرایش اطلاعات' %}</h4>

    <form method="POST" enctype="multipart/form-data" class="change-user-data">
        {% csrf_token %}
        
        <div class="avatar-upload">
            <div>
                {% if request.user.avatar %}
                    <a href="{{ request.user.avatar.url }}"><div style="background: url('{{ request.user.avatar.url }}') no-repeat center center / cover;" class="img-top-avatar mt-1"></div></a>
                {%else%}
                    <img src="{% static 'img/logo.svg' %}" alt="{{ request.user }}">
                {% endif %}
                <div class="overlay-avatar cur-poi">
                    <label for="{{ form.avatar.id_for_label }}"><i class="fa fa-camera c-dark cur-poi"></i></label>
                    <div class="d-none">{{ form.avatar }}</div>
                </div>
            </div>
        </div>
        <br>
        <div class="form-group-inline">
            <div>
                <label for="user-email">{% translate 'ایمیل:' %}</label>
                <input type="email" id="user-eamil" class="c-gold text-center" value="{{ request.user.email }}" disabled>
            </div>
            <div>
                <label for="user-text">{% translate 'نام‌کاربری:' %}</label>
                <input type="text" id="user-text" class="c-gold text-center" value="{{ request.user.username }}" disabled>
            </div>
        </div> 
        <p class="font-very-small mx-1-2">{% translate 'توجه: ایمیل و نام‌کاربری حساب شما غیرقابل تغییر است.' %}</p>

        <div class="form-group-inline">
            <div>
                <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}:</label>
                {% render_field form.first_name value=request.user.first_name %}
            </div>
            <div>
                <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}:</label>
                {% render_field form.last_name value=request.user.last_name %}
            </div>
        </div>
        <div  class="form-group-chus">
            <label for="{{ form.phone.id_for_label }}">{{ form.phone.label }}:</label>
            {% render_field form.phone value=request.user.phone %}
        </div>
        <div  class="form-group-chus">
            <label for="{{ form.backup_email.id_for_label }}">{{ form.backup_email.label }}:</label>
            {% if request.user.backup_email %}
                {% render_field form.backup_email value=request.user.backup_email %}
            {% else %}
                {% render_field form.backup_email %}
            {% endif %}
        </div>

        <div>
            {% for err in form.avatar.errors %}
                <span class="c-red font-small">{{ err }}</span><br />
            {% endfor %}
            {% for err in form.first_name.errors %}
                <span class="c-red font-small">{{ err }}</span><br />
            {% endfor %}
            {% for err in form.last_name.errors %}
                <span class="c-red font-small">{{ err }}</span><br />
            {% endfor %}
            {% for err in form.phone.errors %}
                <span class="c-red font-small">{{ err }}</span><br />
            {% endfor %}
            {% for err in form.backup_email.errors %}
                <span class="c-red font-small">{{ err }}</span><br />
            {% endfor %}
        </div>
        
        <div class="mt-1-2"><button type="submit" class="btn">{% translate 'ویرایش' %}</button></div>

    </div>

</article>
<!-- end BODY -->

{% endblock %}

{% block scriptStatic %}{% endblock %}