{% extends 'shared/__main_layout.html' %}
{% load static widget_tweaks i18n l10n %}

{% block keywordContent %}
    <meta name="keywords" content="{% translate 'پنل کاربری استارک، ارز دیجیتال، رمز ارز' %}">
    <meta name="description" content="{% translate 'پنل کاربری استارک' %}">
{% endblock %}

{% block titlePage %}{% translate ' استارک | نمایش نمودار' %} {% endblock %}

{% block linkStatic %}
    <link rel="stylesheet" href="{% static 'css/show-charts.css' %}">
{% endblock %}

{% block content %}

    <!-- start BODY -->
    <article class="body-page m-1">
        <h4 class="mb-1">{% translate 'نمایش نمودار' %} <span class="c-gold">{{ tokenTitle }}</span></h4>
        <p class="mx-1 font-small c-gold">{% translate 'قیمت امروز' %}: <span class="c-white">{{ last_price_chart }}</span></p>
        <p class="mx-1 font-small c-gold">{% translate 'موجودی توکن شما' %}: <span class="c-white">{% if user_token_stock.count %}{{ user_token_stock.count }}{% else %}0.0{% endif %}</span></p>
        <br>
        <a class="parg-link cur-poi" onclick="window.history.back()">{% translate 'بازگشت' %}</a>
        <br>
        <br>

        <section id="showchart-sec">
            <div id="chart-line2" class="charts-styles"></div>
        </section>

    </article>
    
    <!-- end BODY -->

{% endblock %}

{% block scriptStatic %}

<script type="text/javascript" src="{% static 'frameworks/apexchart.js' %}"></script>

<!-- charts -->
<script type="text/javascript">

    var options = {
        series: [{
            data: [{% localize off %}{% for price in prices_dollar %}{{ price }},{% endfor %}{% endlocalize %}]
        }],
        chart: {
            id: 'chart2',
            type: 'area',
            height: 520,
            foreColor: '#ccc',
            toolbar: {
                show: false,
                // autoSelected: 'pan',
                // offsetY: -10,
                // offsetX: -40,
                // colors: ['#ccc', '#fff'],
            },
        },
        tooltip: {
            enabled: true,
            theme: 'dark',
            style: {
                fontSize: '12px',
                fontFamily: 'IRANSanse',
            },
            custom: function({series, seriesIndex, dataPointIndex, w}) {
                return '<div class="arrow_box">' +
                        '<span style="padding: 1.5rem 2rem; direction: rtl;">' + series[seriesIndex][dataPointIndex] + '</span>' +
                    '</div>'
            }
        },
        colors: ['#eeb00e'],
        stroke: {
            width: 2,
            colors: ['#eeb00e', '#eeb00e', '#eeb00e'],
        },
        dataLabels: {
            enabled: false,
        },
        fill: {
            type: "gradient",
            gradient: {
                opacityFrom: 1,
                opacityTo: 0,
                stops: [0, 100]
            }
        },
        
        markers: {
            size: 1,
            colors: ['#eeb00e', '#eeb00e', '#eeb00e']
        },
        xaxis: {
            categories: [ {% for date in dates %} '{{ date }}', {% endfor %} ]
        }
    };

    var chart = new ApexCharts(document.querySelector("#chart-line2"), options);
    chart.render();
</script>
{% endblock %}