{% extends 'shared/__main_layout.html' %}
{% load static i18n %}

{% block keywordContent %}
    <meta name="keywords" content="{% translate 'استارک، پنل کاربری استارک، ارز دیجیتال، رمز ارز، حسابدار' %}">
    <meta name="description" content="{% translate 'پنل کاربری استارک' %}">
{% endblock %}

{% block titlePage %}{% translate ' استارک | نمای جدول' %} {% endblock %}

{% block linkStatic %}
    <link rel="stylesheet" href="{% static 'css/auditor.css' %}">    
{% endblock %}

{% block content %}

<!-- start BODY -->
<article class="body-page m-1">

    <p id="open-parg" class="mb-1 font-small cur-poi" onclick="open_form()"><i class="c-gold fa fa-plus"></i>&nbsp;{% translate 'برای اضافه کردن کلیک کنید' %}</p>
    <p id="close-parg" class="mb-1 font-small cur-poi" style="display: none;" onclick="close_form()"><i class="c-gold fa fa-minus"></i>&nbsp;{% translate 'برای اضافه کردن کلیک کنید' %}</p>

    <div id="form-div-wrapper" style="display: none;">
        <form method="POST" id="form-add">
            {% csrf_token %}
            {{ add_form }}
            <div class="container-btn">
                <button type="submit">{% translate 'اعمال' %}</button>
            </div>
        </form>
    </div>
    <br>

    <div class="d-inline-elements">
        <div class="d-flex-header">
            <h4>{% translate 'لیست عملیات کیف پول کاربران' %}</h4>
            <!-- load the guide div modal -->
            {% include 'is_acountants/accountant_guide.html' %}
        </div>
        <a class="cur-poi" onclick="javascript:window.history.back()">{% translate 'بازگشت به حسابداری' %}</a>
    </div>
    <p class="font-very-small my-1">{% translate 'هشدار: بعد از اضافه کردن و یا تغییر هرکدام از آیتم های جدول، در صورتی که آیکون پرداخت شده مثبت باشد، بلافاصله میزان پرداختی کل و یا برداشتی کل کاربر تغییر خواهد کرد.' %}</p>

    <div id="list-chart" class="table-wrapper">
        <table>
            <tr>
                <th>#</th>
                <th>{% translate 'کد کاربری' %}</th>
                <th>{% translate 'مبلغ' %}</th>
                <th>{% translate 'نوع درخواست' %}</th>
                <th>{% translate 'آدرس کیف پول' %}</th>
                <th>{% translate 'پرداخت شده' %}</th>
                <th>{% translate 'تاریخ' %}</th>
                <th>{% translate 'تغییرات' %}</th>
            </tr>

            {% for obj in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ obj.user.user_code }}</td>
                <td>{{ obj.price }}</td>
                <td>{% if obj.type_order == 'inc' %}{% translate 'افزایش' %}{% else %}{% translate 'کاهش' %}{% endif %}</td>
                <td>{{ obj.wallet_address }}</td>
                <td>{% if obj.is_paid %} <i class="fa fa-plus"></i> {% else %} <i class="fa fa-minus"></i> {% endif %}</td>
                <td>{% if '/fa/' in request.path %}{{ obj.j_date }}{% else %}{{ obj.date }}{% endif %}</td>
                <td><a href="{% url 'pannel:ac_walletorders_edit' obj.id %}">{% translate 'ویرایش' %}</a></td>
            </tr>
            {% empty %}
                <div class="my-1 c-red font-small">{% translate 'جدول خالی میباشد.' %}</div>
            {% endfor %}

        </table>

    </div>
</article>
<!-- end BODY -->

{% endblock %}

{% block scriptStatic %}{% endblock %}