@import 'variables';

.body-page {
    background-color: $bgc-card;
    padding: 1.5rem;
    border-radius: 15px;
    min-height: calc(100vh - 14%);
    overflow-y: auto;
    min-width: 300px !important;
}

aside {
    display: none !important;
}
.container {
    max-width: 1500px;
    margin: auto !important;
    display: flex !important;
    justify-content: center !important;
}
a.parg-link {
    background-color: $c-gold;
    color: $bgc-card;
    margin: 0 20px;
    padding: 0.2rem 2rem;
    font-size: 10pt;
    border-radius: 5px;
    font-weight: bolder;
}

section#showchart-sec {
    overflow-x: auto;
    background-color: #131216;
    padding: 0.5rem;
    width: 70vw !important;
    border-radius: 10px;
    margin: auto;
    .charts-styles {
        width: 1300px;
    }
}
.apexcharts-menu {
    .apexcharts-menu-item {
        background-color: #0c0b10 !important;
        color: white !important;
        &:hover {
            color: $c-gold !important;
        }
    }
}