{% extends 'shared/__main_layout.html' %}
{% load static i18n widget_tweaks %}


{% block keywordContent %}
    <meta name="keywords" content="{% translate 'استارک، پنل کاربری استارک، ارز دیجیتال، رمز ارز، حسابدار' %}">
    <meta name="description" content="{% translate 'پنل کاربری استارک' %}">
{% endblock %}

{% block titlePage %}{% translate ' استارک | ویرایش' %} {% endblock %}

{% block linkStatic %}
    <link rel="stylesheet" href="{% static 'css/auditor.css' %}">    
{% endblock %}

{% block content %}

<!-- start BODY -->
<article class="body-page edit-body-page m-1">
    
    <div class="d-inline-elements">
        <h4>{% translate 'ویرایش لیست' %}</h4>
        <a class="cur-poi" onclick="javascript:window.history.back()">{% translate 'بازگشت به حسابداری' %}</a>
    </div>
    <br>
    <div class="two-box-elemens">
        <div class="text-center font-small">

            <p class="c-gold">{% translate 'کد ربات' %}</p>
            <p>{{object.bot_code}}</p>
            <br>

            <p class="c-gold">{% translate 'کاربر' %}</p>
            <p>{{object.user}}</p>
            <br>

            <p class="c-gold">{% translate 'تعرفه' %}</p>
            <p>{{object.time_subscription}}</p>
            <br>

            <p class="c-gold">{% translate 'پرداخت شده؟' %}</p>
            <p>{% if object.is_paid %} <i class="fa fa-plus"></i> {% else %} <i class="fa fa-minus"></i> {% endif %}</p>
            <br>

            <p class="c-gold">{% translate 'فعال' %}</p>
            <p>{% if object.is_active %} <i class="fa fa-plus"></i> {% else %} <i class="fa fa-minus"></i> {% endif %}</p>
            <br>

            <p class="c-gold">{% translate 'تاریخ' %}</p>
            <p>{% if '/fa/' in request.path %}{{ object.j_date }}{% else %}{{ object.date }}{% endif %}</p>
            <br>

            <p class="c-gold">{% translate 'تاریخ انقضا' %}</p>
            <p>{% if '/fa/' in request.path %}{{ object.j_last_date }}{% else %}{{ object.last_date }}{% endif %}</p>
            <br>
    
        </div>
        <form method="POST" class="form-update-auditor">
            {% csrf_token %}
            {{form}}
            
            <div class="container-btn">
                <button type="submit">{% translate 'ذخیره ی تغییرات' %}</button>
            </div>
        </form>
    </div>

</article>
<!-- end BODY -->

{% endblock %}

{% block scriptStatic %}{% endblock %}