{% extends 'shared/__main_layout.html' %}
{% load static i18n humanize  %}

{% block keywordContent %}
    <meta name="keywords" content="{% translate 'استارک، پنل کاربری استارک، ارز دیجیتال، رمز ارز، پشتیبان' %}">
    <meta name="description" content="{% translate 'پنل کاربری استارک' %}">
{% endblock %}

{% block titlePage %}{% translate 'استارک | همه ی تیکت ها' %} {% endblock %}

{% block linkStatic %}
    <link rel="stylesheet" href="{% static 'css/suppurt.css' %}">    
{% endblock %}

{% block content %}

<!-- start BODY -->
<article class="body-page m-1">

    <!-- load the navbar -->
    {% include 'is_supporter/suppuert-navbar-partail.html' %}

    <br><br>

    <h4 class="mb-1">
        <div class="d-flex-header">
            {% translate 'تمامی تیکت ها' %}
            <!-- load the guide div modal -->
            {% include 'is_supporter/suppurt_guide_div.html' %}
        </div>
    </h4>
    <div class="all-tickets">
        
        {% for ticket in tickets %}
            <div class="ticket-of-tickets">
                <div class="detail-ticket">
                    <div>
                        <h5 class="mb-1-2">
                            {% if ticket.title == 'crashPay' %}{% translate 'اشتراک ربات' %}
                            {% elif ticket.title == 'InOut' %}{% translate 'پرداختی / برداشتی' %}
                            {% elif ticket.title == 'buytoken' %}{% translate 'خرید ارز' %}
                            {% else %}{% translate 'فروش ارز' %}{% endif %}
                        </h5>
                        <p class="username">({{ ticket.user.user_code }}): {{ ticket.subject }}</p>
                        <div class="mx-1"><p>{{ ticket.message|truncatewords:50|safe }}</p></div>
                    </div>
                </div>
                <div class="time-ticket">
                    <img src="{% static 'img/tickets/watch.svg' %}" alt="watch">
                    <span class="digit mx-1-2">{% if '/fa/' in request.path %}{{ ticket.j_date }}{% else %}{{ ticket.date|naturaltime }}{% endif %}</span>
                </div>
            </div>
        {% empty %}
            <div class="font-small mx-2">
                {% translate 'هیچ تیکتی موجود نیست.' %}
            </div>
        {% endfor %}
        
    </div>
</article>
<!-- end BODY -->

{% endblock %}

{% block scriptStatic %}{% endblock %}
