{% extends 'shared/__main_layout.html' %}
{% load static i18n humanize  %}

{% block keywordContent %}
    <meta name="keywords" content="{% translate 'استارک، پنل کاربری استارک، ارز دیجیتال، رمز ارز، پشتیبان' %}">
    <meta name="description" content="{% translate 'پنل کاربری استارک' %}">
{% endblock %}

{% block titlePage %}{% translate 'استارک | حساب کاربران' %} {% endblock %}

{% block linkStatic %}
    <link rel="stylesheet" href="{% static 'css/suppurt.css' %}">    
{% endblock %}

{% block content %}

<!-- start BODY -->
<article class="body-page m-1">

    <!-- load the navbar -->
    {% include 'is_supporter/suppuert-navbar-partail.html' %}

    <br><br>

    <h4 class="mb-1">
        <div class="d-flex-header">
            {% translate 'تنظیمات حساب کاربران ' %}
            <!-- load the guide div modal -->
            {% include 'is_supporter/suppurt_guide_div.html' %}
        </div>
    </h4>
    <div class="all-tickets table-wrapper">
        
        <table id="set-user-account">
            <tr>
                <th>#</th>
                <th>{% translate 'کد کاربری' %}</th>
                <th>{% translate 'موجودی نقد' %}</th>
                <th>{% translate 'مبلغ پرداختی کل' %}</th>
                <th>{% translate 'مبلغ برداشتی کل' %}</th>
                <th>{% translate 'اشتراک ربات' %}</th>
                <th>{% translate 'تغییرات' %}</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ user.user_code }}</td>
                <form method="POST">
                    {% csrf_token %} 
                    <td>
                        <input type="hidden" name="user-code" value="{{ user.user_code }}" class="d-none">
                        <input type="number" name="account-total" value="{{ user.stoke }}">
                    </td>
                    <td>
                        <input type="number" name="payment-total" value="{{ user.payment_total }}">
                    </td>
                    <td>
                        <input type="number" name="impre-total" value="{{ user.impression_total }}">
                    </td>
                    <td>
                        <input type="number" name="robot-sub-total" value="{{ user.robot_sub_total }}">
                    </td>
                    <td>
                        <button type="submit">{% translate 'ذخیره' %}</button>
                    </td>
                </form>
            </tr>
            {% endfor %}
        </table>
    </div>
</article>
<!-- end BODY -->

{% endblock %}

{% block scriptStatic %}{% endblock %}
