{% extends 'shared/__main_layout.html' %}
{% load static i18n widget_tweaks %}

{% block keywordContent %}
    <meta name="keywords" content="{% translate 'استارک، پنل کاربری استارک، ارز دیجیتال، رمز ارز، پشتیبان' %}">
    <meta name="description" content="{% translate 'پنل کاربری استارک' %}">
{% endblock %}

{% block titlePage %}{% translate 'استارک | ارسال پاسخ ' %}{% endblock %}

{% block linkStatic %}
    <link rel="stylesheet" href="{% static 'css/suppurt.css' %}">    
{% endblock %}

{% block content %}

<!-- start BODY -->
<article class="body-page m-1">
    <h4 class="mb-1">
        {% translate 'ارسال پاسخ به' %} <span class="c-gold">"{{ ticket.user.username }}"</span>
    </h4>

    <div class="body-ticket-form">

        <div class="ticket-user">
            <div class="img-heading">
                {% if ticket.user.avatar %}
                    <div style="background: url('{{ ticket.user.avatar.url }}') no-repeat center center/ cover;" class="img-avatar-div" ></div>
                {% else %}
                    <img src="{% static 'img/logo.svg' %}" class="img-avatar" alt="user logo">
                {% endif %}
                <div class="wrapper-header">
                    <h4 class="c-gold mb-1-2">
                        {% if ticket.title == 'crashPay' %}{% translate 'اشتراک ربات' %}
                        {% elif ticket.title == 'InOut' %}{% translate 'پرداختی / برداشتی' %}
                        {% elif ticket.title == 'buytoken' %}{% translate 'خرید ارز' %}
                        {% else %}{% translate 'فروش ارز' %}{% endif %}
                    </h4>
                    <h5 class="mb-1">{{ ticket.subject }}</h5>
                </div>
            </div>
            <div class="msg mt-1">
                
                <div class="mx-1"><p>{{ ticket.message|safe }}</p></div>                
                <div class="time">
                    <img src="{% static 'img/tickets/watch.svg' %}" alt="watch">
                    <span class="digit mx-1-2">{% if '/fa/' in request.path %}{{ ticket.j_date }}{% else %}{{ ticket.date }}{% endif %}</span>
                </div>
            </div>
        </div>

        <div class="ticket-add">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group-ticket">
                    <label for="type-ticket">{% translate 'دپارتمان' %}:</label>
                    <select id="type-ticket" class="input-styles-form">
                        <option disabled {% if ticket.title == 'crashPay' %}selected{% endif %}>{% translate 'اشتراک ربات' %}</option>
                        <option disabled {% if ticket.title == 'InOut' %}selected{% endif %}>{% translate 'پرداختی / برداشتی' %}</option>
                        <option disabled {% if ticket.title == 'buytoken' %}selected{% endif %}>{% translate 'خرید توکن' %}</option>
                        <option disabled {% if ticket.title == 'selltoken' %}selected{% endif %}>{% translate 'فروش توکن' %}</option>
                    </select>
                </div>
                
                <div class="form-group-ticket">
                    <label for="{{ ticket_form.subject.id_for_label }}">{% translate 'موضوع پیام' %}:</label>
                    {% render_field ticket_form.subject class="input-styles-form" %}
                    {% for err in ticket_form.subject.errors %}
                        <span class="c-red mt-1 font-very-small">{{ err }}</span><br>
                    {% endfor %}
                </div>
                
                <section id="peaka-editor" >
                    <div id="pk-editor-options">
                        <div class="pk-editor-wrapper">
                            <a href="javascript:void(0);" class="fontStyle" onclick="document.execCommand('italic',false,null);" ><i class="fa fa-italic"></i></a>
                            <a href="javascript:void(0);" class="fontStyle" onclick="document.execCommand('bold',false,null);" ><i class="fa fa-bold"></i></a>
                            <a href="javascript:void(0);" class="fontStyle" onclick="document.execCommand('underline',false,null);"><i class="fa fa-underline"></i></a>
                            <a href="javascript:void(0);" class="fontStyle" onclick="document.execCommand('justifyLeft',false,null);"><justifyLeft><i class="fa fa-align-left"></i></justifyLeft></a>
                            <a href="javascript:void(0);" class="fontStyle" onclick="document.execCommand('justifyCenter',false,null);"><justifyCenter><i class="fa fa-align-center"></i></justifyCenter></a>
                            <a href="javascript:void(0);" class="fontStyle" onclick="document.execCommand('justifyRight',false,null);"><justifyRight><i class="fa fa-align-right"></i></justifyRight></a>  
                            <a href="javascript:void(0);" class="fontStyle" onclick="document.execCommand('cut',false,null);" ><i class="fa fa-cut"></i></a>
                            <a href="javascript:void(0);" class="fontStyle" onclick="document.execCommand('copy',false,null);" ><i class="fa fa-copy"></i></a>
                            <a href="javascript:void(0);" class="fontStyle" onclick="document.execCommand('redo',false,null);"><redo><i class="fa fa-redo"></i></redo></a>
                            <a href="javascript:void(0);" class="fontStyle" onclick="document.execCommand('undo',false,null);"><undo><i class="fa fa-undo"></i></undo></a>
                        </div>
                    </div>
                    <div id="pk-editor-area" contenteditable="true"></div>
                </section>

                <div class="form-group-ticket mt-1">
                    {% render_field ticket_form.message id="pk-editor-my-textarea" class="input-styles-form d-none" %}
                </div>

                <div class="container-btn">
                    <button type="submit" class="btn" onclick="save()">{% translate 'ارسال پاسخ' %}</button>
                </div>

            </form>
        </div>

    </div>
</article>
<!-- end BODY -->


{% endblock %}

{% block scriptStatic %}
    <script src="{% static 'js/peaka_editor.js' %}"></script>    
{% endblock %}